// Обнуление
*{padding:0;margin:0;border:0;}
*,*:before,*:after{box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
input,button,textarea{font-family:inherit;font-size:inherit;font-weight:inherit;color:inherit;border:0;}
button{cursor:pointer;}
a,a:visited{color:inherit;text-decoration:none;font-family:inherit;font-size:inherit;}
a:hover{text-decoration:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-weight:inherit;}
/* ================================== */