*,
*:before,
*:after {
   box-sizing: border-box;
   

   /* Переменные */
   --main-color: #262A35;
}

body {
	margin: 0;

	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
   color: #fff;

   background-color: #191A1F;
   ;
}

.container {
	width: 100%;
	padding: 25px;
	margin: 0 auto;
}



/* Header */

.header__inner {
   display: flex;
   justify-content: space-between;
}

.header__avatar {
   max-width: 36px;
   max-height: 36px;
}



/* Gamer-info */
.gamer-info__suptitle {
   font-size: 12px;

   opacity: .5;
}

.gamer-info__title {
   margin-bottom: 16px;

   font-size: 24px;
}

.gamer-info__content {
   padding: 16px;

   border-radius: 15px;
   background-color: var(--main-color);
}

.gamer-info {
   display: grid;
   grid-template-columns: 48px 1fr;
   grid-column-gap: 12px;
   grid-template-rows: 0.5fr 0.5fr;
   grid-template-areas: "img ." "img .";

   margin-bottom: 165px;

}

.gamer-info__avatar {
   grid-area: img;

   width: 48px;
   height: 48px;
}

.gamer-info__name {
   font-size: 18px;
}
.gamer-info__game {
   font-size: 14px;
   opacity: .5;
}

.gamer-info__text {
   padding-bottom: 5px;
}

.gamer-info__text:last-child {
   padding-bottom: 0;
}

.gamer-info__buttons {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 26px auto;
   max-width: 200px;
}

.gamer-info__button {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;

   cursor: pointer;

   border: 0;
   border-radius: 50%;
   background-color: var(--main-color);
}

.gamer-info__button--big {
   width: 48px;
   height: 48px;
}



/* Nav */
.nav__content {
   display: flex;
   justify-content: space-around;

   border-radius: 15px;
   background-color: var(--main-color);
}