*,
*:before,
*:after {
   box-sizing: border-box;
   

   /* Переменные */
   --header-height: 74px;
   --nav-height: 100px;

   --main-color: #262A35;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
   color: #fff;

   background-color: #191A1F;
}

.container {
	width: 100%;
	padding: 25px;
	margin: 0 auto;
}



.content {
   position:fixed;
   left:0;
   right:0;
   top:0;
   bottom:0;
   overflow-y: auto;

	margin: var(--header-height) 0 var(--nav-height);
}



/* Header */
header {
   position:fixed;
   left:0;
   right:0;
   top:0;
   height: var(--header-height);
}

.header__inner {
   display: flex;
   justify-content: space-between;

   font-weight: 600;
}

.header__item {
   font-size: 24px;
}

.header__avatar {
   max-width: 36px;
   max-height: 36px;
}



/* Nav */
nav {
   position:fixed;
   left:0;
   right:0;
   bottom:0;
   height: var(--nav-height);
}

.nav__content {
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 14px 0;

   border-radius: 16px;
   background-color: var(--main-color);
}




/* Gamer-info */
.gamer-info__inner {
   padding: 0 25px;

   font-weight: 400;
}
.gamer-info__suptitle {
   font-size: 12px;

   opacity: .5;
}

.gamer-info__title {
   margin-bottom: 16px;

   font-size: 24px;
}

.gamer-info__content {
   padding: 16px;

   border-radius: 16px;
   background-color: var(--main-color);
}

.gamer-info {
   display: flex;

   margin-bottom: 165px;

}

.gamer-info__avatar {
   margin-right: 10px;
   width: 48px;
   height: 48px;
}

.gamer-info__name {
   font-size: 18px;
}

.gamer-info__game {
   font-size: 14px;
   opacity: .5;
}

.gamer-info__text {
   margin-bottom: 12px;
}

.gamer-info__text:last-child {
   padding-bottom: 0;
}

.gamer-info__buttons {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 26px auto 0;
   max-width: 200px;
}

.gamer-info__button {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;

   cursor: pointer;

   border: 0;
   border-radius: 50%;
   background-color: var(--main-color);
}

.gamer-info__button--big {
   width: 48px;
   height: 48px;
}



/* Message */
.message__inner {
   padding: 25px;

   font-weight: 600;
}

.message__content {
   padding: 16px;

   border-radius: 16px;
   background-color: var(--main-color);
}

.message__items {

}

.message__item {
   display: flex;
   margin-bottom: 16px;
}

.message__avatar {
   margin-right: 10px;
   width: 48px;
   height: 48px;
}

.message__text {
   font-size: 14px;
   opacity: .5;
}



/* Account */
.account {
   padding: 25px;
   
   font-weight: 600;
}

.account__btn-edit {
   width: 100%;
   padding: 12px 0;
   margin-bottom: 24px;

   color: inherit;
   font-size: inherit;
   border: 0;
   border-radius: 8px;

   background-color: var(--main-color);
}



/* User */
.user__content {
   display: flex;
   align-items: center;
   margin-bottom: 16px;
}

.user__avatar {
   width: 56px;
   height: 56px;
   margin-right: 16px;
}

.user__info {
}

.user__name {
   font-size: 18px;
}

.user__status {
   font-size: 12px;
   font-weight: 300;
   opacity: .5;
}



/* Games */
.games__text {
   font-weight: 600;
}

.preferred-games {
   margin-bottom: 24px;
}

.games__items {
   display: flex;
   flex-wrap: nowrap;
   overflow-x: auto;
   padding-top: 16px;
}

.preferred-games__item {
   width: 48px;
   height: 48px;
   margin-right: 12px;
}

.preferred-games__item:last-child {
   margin-right: 0;
}

.stat-games .games__items {
   margin-bottom: 24px;
}

.stat-games__item {
   padding: 8px 16px;
   margin-right: 16px;

   font-size: inherit;
   font-weight: inherit;
   color: inherit;

   border: 0;
   background-color: unset;
}

.stat-games__item-active {
   border-radius: 32px;
   background-color: var(--main-color);
}

.stat-games__content {
   display: none;
}

.stat-games__content.active {
   display: block;
}

.stat-games__text {
   margin-bottom: 12px;

   font-weight: 400;
}
