@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  border: 0;
}

button {
  cursor: pointer;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

/* ================================== */

body {
  font-family: "OpenSans";
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  background-color: #191A1F;
}

.header {
  position: fixed;
  top: 0;
  bottom: unset;
  left: 0;
  right: 0;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px;
}

.header__text {
  font-size: 24px;
}

.header__avatar {
  width: 36px;
  height: 36px;
  margin-right: unset;
}

.content {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: unset;
  overflow-y: auto;
  margin: 75px 24px 100px;
}

.content.content-messages {
  padding: 16px;
  border-radius: 16px;
  background-color: #262A35;
}

nav {
  position: fixed;
  top: unset;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 24px;
  border-radius: 16px;
  background-color: #262A35;
}

.welcome {
  font-weight: 400;
}

.welcome__text {
  font-size: 12px;
  opacity: .5;
}

.welcome__big-text {
  font-size: 24px;
}

.gamers {
  padding: 16px;
  margin: 20px 0;
  font-weight: 400;
  border-radius: 16px;
  background-color: #262A35;
}

.gamers .account-gamers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  margin-bottom: 150px;
}

.gamers .account-gamers__avatar {
  width: 48px;
  height: 48px;
  margin-right: 12px;
}

.gamers .account-gamers__name {
  font-size: 18px;
}

.gamers .account-gamers__games {
  font-size: 14px;
  opacity: .5;
}

.gamers .gamers-info__text {
  margin-bottom: 10px;
}

.gamers .gamers-info__text:last-child {
  margin-bottom: 0;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 24px;
  border-radius: 50%;
  background-color: #262A35;
}

.buttons button.btn-big {
  width: 48px;
  height: 48px;
}

.buttons button:last-child {
  margin-right: 0;
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  margin-bottom: 16px;
}

.message__avatar {
  width: 48px;
  height: 48px;
  margin-right: 12px;
}

.message__content {
  font-size: 14px;
  opacity: .5;
}

.message:last-child {
  margin-bottom: 0;
}

.profile-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}

.profile-info__avatar {
  width: 56px;
  height: 56px;
  margin-right: 16px;
}

.profile-info__name {
  font-size: 18px;
}

.profile-info__status {
  font-size: 12px;
  font-weight: 300;
  opacity: .5;
}

.profile-btn {
  width: 100%;
  padding: 12px 0;
  margin: 16px 0 24px;
  border-radius: 8px;
  background-color: #262A35;
}

.profile-games {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  padding: 16px 0 24px;
}

.profile-games img {
  width: 48px;
  height: 48px;
  margin-right: 12px;
}

.profile-games .item {
  padding: 8px 16px;
  border-radius: 32px;
}

.profile-games .item.active {
  background-color: #262A35;
}

.stats-games__stat {
  font-weight: 400;
  margin-bottom: 12px;
}